<div class="container-fluid">
    <div class="grid__row container-footer">
        <div class="footer-contact">
            <h2 class="footer-title">Hỗ trợ khách hàng</h2>
            <ul>
                <li class="footer-information">Hotline: 1900 1234</li>
                <li class="footer-information">Email: lasmanate@hehehehe.com</li>
                <li class="footer-information">Thời gian: 8h - 22h mỗi ngày</li>
            </ul>
            <div class="footer-buttons">
                <a href="#" class="contact-button">Liên hệ chúng tôi</a>
                <a href="#" class="map-button">Bản đồ cửa hàng</a>
            </div>
        </div>

        <div class="footer-links">
            <ul class="link-list">
                <li><a href="#">Giới thiệu</a></li>
                <li><a href="#">Hướng dẫn mua hàng</a></li>
                <li><a href="#">Chính sách đổi trả</a></li>
            </ul>
            <ul class="link-list">
                <li><a href="men.html">Nam</a></li>
                <li><a href="women.html">Nữ</a></li>
                <li><a href="children.html">Trẻ em</a></li>
                <li><a href="">Khuyến mãi</a></li>
                <li><a href="new-product.html">Sản phẩm mới</a></li>
            </ul>
        </div>

        <div class="footer-social">
            <div class="social-title">Kết nối với chúng tôi</div>
            <div class="social-icons">
                <a href="#" class="social-icon facebook"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="social-icon twitter"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" class="social-icon youtube"><i class="fa-brands fa-youtube"></i></a>
                <a href="#" class="social-icon instagram"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="footer-bottom">
    <div class="container-fluid grid_footer grid__row ">
        <p class="footer-copyright">
            Copyright © 2024 Lasmanate Store - Mọi quyền được bảo lưu.
        </p>
        <div class="footer-stats">
            <span class="current-traffic">Đang truy cập: 168</span>
            <span class="total-traffic">Tổng số lượt truy cập: 1,900,000</span>
        </div>
    </div>
</div>
