<div class="container-fluid">
    <div class="grid__row container-footer">
        <div class="footer-contact">
            <h2 class="footer-title">Dự án web của nhóm 13</h2>

            <ul>
                <li class="footer-information">22130163 - Hoàng Lê Nguyên Mạnh</li>
                <li class="footer-information"> 22130154 - Hoàng Quốc Luật</li>
                <li class="footer-information">22130175 - Phạm Quốc Phương Nam</li>
            </ul>

            <div class="footer-buttons">
                <a href="#" class="contact-button">Gửi yêu cầu liên hệ</a>
                <a href="#" class="map-button">Bản đồ chỉ đường</a>
            </div>
        </div>



        <div class="footer-links ">
            <ul class="link-list">
                <li><a href="#">Nam</a></li>
                <li><a href="#">Nữ</a></li>

            </ul>
            <ul class="link-list">
                <li><a href="#">Trẻ em</a></li>
                <li><a href="#">Khuyến mãi</a></li>
                <li><a href="#">Sản phẩm mới</a></li>
                <li><a href="#">Tin tức</a></li>
            </ul>
        </div>


        <div class="footer-social">
            <div class="social-title">Kết nối với chúng tôi</div>
            <div class="social-icons">
                <a href="#" class="social-icon facebook"><i class="fa-brands fa-facebook"></i></a>
                <a href="#" class="social-icon twitter"><i class="fa-brands fa-twitter"></i></a>
                <a href="#" class="social-icon youtube"><i class="fa-brands fa-youtube"></i></i></a>
                <a href="#" class="social-icon instagram"><i class="fa-brands fa-github"></i></a>
            </div>
        </div>
    </div>
</div>

    <div class="footer-bottom">
        <div class="container-fluid grid_footer grid__row ">
            <p class="footer-copyright">
                Copyright © 2024 Nhóm 13 thực hiên với mục đích học tập.
            </p>
            <div class="footer-stats">
                <span class="current-traffic">Đang truy cập: 168</span>
                <span class="total-traffic">Tổng số lượt truy cập: 1,900,000</span>
            </div>
        </div>
    </div>
