<div class="container-fluid">
    <a href="index.html" class="logo"><img src="./assets/imgs/Logo/LASMANATE.png" alt=""></a>
    <nav>
        <ul>
            <li><a href="men.html" data-text="Nam">Nam</a></li>
            <li><a href="" data-text="Nữ">Nữ</a></li>
            <li><a href="" data-text="Trẻ em">Trẻ em</a></li>
            <li><a href="" data-text="Khuyến mãi">Khuyến mãi</a></li>
            <li><a href="collection-running.html" data-text="Sản phẩm mới">Sản phẩm mới</a></li>
            <li><a href="blog.html" data-text="Tin tức">Tin tức</a></li>
        </ul>
    </nav>
    <div class="group_icons">
        <a href=""><i class="fa-solid fa-user custom_size"></i></a>
        <a href=""><i class="fa-solid fa-heart custom_size"></i></a>
        <a href="cart.html"><i class="fa-solid fa-cart-shopping custom_size"></i></a>
    </div>
    <div class="menu-toggle"><i class="fa-solid fa-bars"></i></div>
</div>