<header>
    <a href="index.html" class="logo"><img src="./assets/imgs/Logo/LASMANATE.png" alt=""></a>
    <div class="container-nav">
        <nav>
            <ul>
                <li><a href="men.html" data-text="Nam">Nam</a></li>
                <li><a href="women.html" data-text="Nữ">Nữ</a></li>
                <li><a href="children.html" data-text="Trẻ em">Trẻ em</a></li>
                <li><a href="sale.html" data-text="Khuyến mãi">Khuyến mãi</a></li>
                <li><a href="new-product.html" data-text="Sản phẩm mới">Sản phẩm mới</a></li>
                <li><a href="blog.html" data-text="Tin tức">Tin tức</a></li>
            </ul>
        </nav>
    </div>
    <div class="group_icons">
        <a href="login.html"><i class="fa-solid fa-user custom_size"></i></a>
        <a href="wishlist.html"><i class="fa-solid fa-heart custom_size"></i></a>
        <a href="cart.html"><i class="fa-solid fa-cart-shopping custom_size"></i></a>
    </div>
    <div class="menu-toggle"><i class="fa-solid fa-bars"></i></div>
</header>