<header id="header1">
    <div class="container-fluid">
        <div class="part1">
            <a href="index.html"><img src="./assets/imgs/Logo/LASMANATE.png" alt=""></a>
            <div class="group_icons">

                <a href=""><i class="fa-solid fa-user custom_size"></i></a>
                <a href=""><i class="fa-solid fa-heart custom_size"></i></a>
                <a href="cart.html"><i class="fa-solid fa-cart-shopping custom_size"></i></a>

            </div>
        </div>
        <nav class="part2">
            <ul>
                <li><a href="men.html">Nam</a></li>
                <li><a href="">Nữ</a></li>
                <li><a href="">Trẻ em</a></li>
                <li><a href="">Khuyến mãi</a></li>
                <li><a href="collection.html">Sản phẩm mới</a></li>
                <li><a href="blog.html">Tin tức</a></li>
            </ul>
        </nav>
    </div>
</header>