/* Thiết kế phần sidebar. */
.admin-page {
  position: relative;
}

.vertical-nav {
  width: 20%;
}

.admin-main {
  width: 80%;
}

.vertical-nav,
.admin-main {
  border-right: 1px solid #ddd;
  height: 100vh;
}

.admin-logo {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.admin-logo p,
.vertical-nav a {
  font-size: 1.5rem;
}

.admin-logo img {
  width: 25rem;
  height: 20rem;
}
.vertical-nav .bg-light {
  background-color: var(--white-color);
}

.vertical-nav .nav-item {
  margin: 0.5rem 0;
}

.vertical-nav .nav-link {
  color: #333;
  transition: all 0.3s;
}

.vertical-nav .nav-link:hover {
  background-color: var(--primary-color);
  color: var(--second-color);
}

/* Thiết kế cho các tiêu đề */
.admin_page h4 {
  color: var(--second-color);
  font-weight: 600;
}

/* Thiết kế cho các nút trong form quản lý sản phẩm */
#actbutton button {
  width: 15rem;
  margin: 0.5rem;
  padding: 1.5rem;
  border-radius: 5rem;
  font-size: 1.5rem;
}

.btn-outline-info,
.btn-addProduct {
  color: var(--second-color);
  border-color: var(--second-color);
}

.btn-outline-info:hover,
.btn-addProduct:hover {
  border-color: var(--second-color);
  background-color: var(--second-color);
  color: var(--white-color);
}

.btn-addProduct:active {
  transform: scale(99%);
}

/* Thiết kế cho bảng */
.table-bordered th,
.table-bordered td {
  vertical-align: middle;
}

thead.thead-dark th {
  background-color: var(--second-color);
  color: #fff;
}

.table {
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

/* Thiết kế cho form quản lý sản phẩm */
.product-manager .form-group label {
  font-weight: 500;
  color: var(--second-color);
  font-size: 2rem;
}

.product-manager .form-group input,
.product-manager .form-group select {
  font-size: 2rem;
}

.form-control {
  border: 1px solid #ccc;
  border-radius: 10px;
}

.product-manager-title h4,
.order-manager h4,
.user-manager h4 {
  font-size: 3rem;
}

.thead_product-manager {
  background-color: var(--second-color);
  color: var(--white-color);
}

.product_manager-table {
  position: relative;
}

.product_manager-search {
  display: flex;
  align-items: center;
  justify-content: end;
}

.product_manager-search .search {
  padding: 1rem;
  width: 50vh;
  border: none;
  outline: none;
  border-radius: 50rem;
  font-size: 1.5rem;
  border: 1px solid var(--second-color);
}

.product_manager-search::after {
  content: "\f002";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2rem;
  position: absolute;
  right: 2.7rem;
  color: black;
}

.thead_product-manager tr th {
  padding: 1.5rem;
  font-size: 1.5rem;
}

/* css addproduct */
/* Ẩn input file mặc định */
.custom-file-inputt {
  display: none;
}

/* Tạo nút bấm giống với các input khác */
.custom-file-labell {
  padding: 1rem 2rem;
  border: 1px solid #c3c3c3;
  border-radius: 5rem;
  border-color: var(--second-color);
  color: var(--second-color);
  font-size: 16px;
  cursor: pointer;
  background-color: var(--white-color);
  align-items: center;
  position: relative;
  left: -1.5rem;
}

/* Hiệu ứng hover */
.custom-file-labell:hover {
  background-color: #f2f2f2;
}

/* Hiệu ứng focus */
.custom-file-labell:focus-within {
  outline: none;
  box-shadow: 0 0 5px rgba(181, 137, 0, 0.5);
}

/* Đối với màn hình có độ rộng từ 991px trở lên (desktop) */
@media (max-width: 991px) {
  .admin-page {
    display: flex;
    justify-content: center;
  }

  .vertical-nav {
    position: absolute;
    left: -25%;
  }

  .admin-main {
    width: 100%;
    position: absolute;
    padding: 0;
    margin: 0;
    right: 0;
    padding: 0 2rem;
  }

  .admin-logo img {
    width: 25rem;
    height: 20rem;
  }

  /* Điều chỉnh cỡ chữ và padding cho các phần tử */
  .admin-logo p,
  .vertical-nav a {
    font-size: 1.5rem;
  }

  .admin-page h4 {
    font-size: 2rem;
  }

  .product-manager .form-group input,
  .product-manager .form-group select {
    font-size: 1.6rem;
  }

  .product-manager-title h4 {
    font-size: 3rem;
  }

  .thead_product-manager tr th {
    font-size: 1.3rem;
  }
}


@media screen and (max-width: 526px){
  .thead_product-manager tr th {
    font-size: 0.9rem;
    font-weight: bolder;
    text-align: center;
  }
}



