@font-face {
  font-family: "Gemunu Libre";
  src: url("../font-family/Gemunu_Libre/GemunuLibre-VariableFont_wght.ttf")
    format("truetype");
}
@font-face {
  font-family: "Inter";
  src: url("../font-family/Inter/Inter-VariableFont_opsz\,wght.ttf")
    format("truetype");
}
:root {
  --white-color: #fff;
  --black-color: #000;
  --primary-color: rgb(246, 241, 235);
  --second-color: rgb(164, 109, 14);
  --lighter-second-color: rgb(200, 140, 25);
  --lighter1-second-color: rgb(224, 184, 104);
  --footer-color: #8c6e59;
  --bottom_footer-color: #a07c62;
  --cursor-color: rgba(255, 255, 255, 0.7);
  --bg-color: #F5F5F5;
  --box-shadow-light: 0 4px 8px rgba(0, 0, 0, 0.15);
  --box-shadow-hover: 0 6px 12px rgba(0, 0, 0, 0.3);
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%; /* hack 1rem = 10px */
  line-height: 1.6rem;
  font-family: "Gemunu Libre", "Inter", sans-serif;
  background-color: var(--primary-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.grid{
  width: 1200px !important;
  max-width: 100%;
  margin: 0 auto;
}

.grid_footer{
    width: 1500px!important;
    max-width: 100%;
    margin: 0 auto;
  }

.grid__full-width {
  width: 100%;
}

.grid__row{
  display: flex;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
}

body{
background-color: var(--bg-color);
}


/* ===============Css list product============== */
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.product-items {
  position: relative;
  padding: 1.5rem 1.5rem;
  border-radius: 8px;
  width: 27rem;
}

.product-items:hover{
  box-shadow: var(--box-shadow-light);
}

.clothes-size {
  position: absolute;
  width: 20rem;
  background-color: rgba(192, 192, 192, 1);
  height: 7rem;
  bottom: 8rem;
  left: 3.5rem;
  border-radius: 0.5rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.clothes-size p {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.clothes-size .btn-size {
  font-size: 1.5rem;
  background-color: var(--white-color);
  margin-top: 0.7rem;
  margin-left: 0.6rem;
}

.product-items img {
  width: 24rem;
  height: 30rem;
  border-radius: 1rem;
}

.product-decrip {
  padding-top: 1rem;
}

.product-decrip p {
  font-size: 1.8rem;
  margin-bottom: 0;
}

.product-decrip div {
  font-size: 1.5rem;
  font-weight: bold;
}

/* ===============end Css list product============== */


