/* Login Page */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(246, 241, 235) !important;
}

.container {
    position: relative;
    width: 500px !important;
    height: 650px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 2);
    margin: 20px;
    margin-top: 20rem;
    overflow: hidden;

}

.no-padding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.form-box {
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: center;
    color: #333;
    text-align: center;
    padding: 40px;
    z-index: 1;

}

.container.active .form-box {
    right: 50%;
}


form {
    width: 100%;
}

.container h1 {
    font-size: 36px;
    margin: -10px 0;
    font-weight: bold;
}

.input-box input::placeholder {
    color: #888;
    font-weight: 400;
}

.input-box {
    position: relative;
    margin: 30px 0;
}


.input-box input {
    width: 100%;
    padding: 13px 50px 13px 20px;
    background: #eee;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    font-weight: 500;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #888;
}

.toggle-password {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #666;
    outline: none;
}

.toggle-password i {
    font-size: 18px;
    cursor: pointer;
}


.form-box .btn {
    width: 100%;
    height: 48px;
    border-radius: 8px;
    background-color: #335d4a !important;
    border: none !important;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #4d876d!important;
    cursor: pointer;
    border: none;
}

.container p {
    font-size: 14.5px;
    margin: 15px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
}

.container .social-icons a {
    display: inline-flex;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 24px;
    color: #333;
    text-decoration: none;
    margin: 0 8px;
}

@media screen and (max-width: 650px) {
    .container {
        height: 100%;
        width: 90% !important;
    }
    
    .form-box {
        width: 100%;
        height: 70%;
    }

    .input-box {
        margin: 15px 0;
    }

    .input-box input {
        width: 100%;
        padding: 10px 15px; 
        background: #eee;
        border-radius: 8px;
        border: none;
        outline: none;
        font-size: 14px;
        color: #333;
        font-weight: 500;
    }

    .input-box i {
        position: absolute;
        right: 10px;
        transform: translateY(-50%);
        font-size: 16px;
        color: #888;
    }

    .toggle-password {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        background: none;
        border: none;
        cursor: pointer;
        font-size: 16px; 
        color: #666;
        outline: none;
    }
}

@media screen and (max-width: 40px) {
    .form-box {
        padding: 20px;
    }

    .input-box input {
        font-size: 12px; 
        padding: 8px 10px; 
    }

    .input-box i {
        font-size: 14px; 
    }

    .toggle-password {
        font-size: 14px; 
    }
}

