/* ================================= HEADER ================================= */
header {
  border-bottom: solid 1px #000;
  background-color: var(--primary-color);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 100000;
}
/* Part 1 */
header .part1 {
  position: relative;
  height: 7.5rem;
}
header .part1 img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 3.75rem;
}
header .part1 .group_icons {
  position: absolute;
  right: 6rem;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 1.5rem;
}
header .part1 .group_icons .custom_size {
  font-size: 1.5rem;
  font-size: 2rem;
}

header .part1 .group_icons a {
  color: inherit;
}
header .part1 .group_icons a:hover{
  transform: scale(1.2);
  transition: transform 0.2s;
}

/* Part 2 */
header .part2 ul {
  margin-bottom: 1.5rem;
  list-style: none;
  gap: 6rem;
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .part2 ul li a {
  color: var(--second-color);
  text-decoration: none;
}
header .part2 ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
}

/* ================================= END HEADER ================================= */

/* ================================= FOOTER ================================= */

/* ================================= FOOTER ================================= */
footer{
  background-color: var(--footer-color);
  color: var(--white-color);
  font-size: 1.5rem;
  position: relative;
  margin-top: 17rem;
  border-top: 0.1rem solid var(--black-color);
}

.container-footer{
  padding: 0 8rem;
}

.footer-contact,
.footer-links,
.footer-social {
  flex: 1;
  padding: 3rem;
}

.footer-title {
  font-size: 3rem;
  font-weight: 300;
  margin: 0 auto;
  margin-top: 1.3rem;
}

.footer-information {
  margin: 0.5rem 0;
  font-weight: 100;
}

.footer-buttons a {
  display: inline-block;
  background-color: var(--white-color);
  color: var(--black-color);
  padding: 1.3rem 1.5rem;
  border-radius: 5px;
  margin-right: 1rem;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
}
.footer-links {
  display: flex;
  justify-content: space-evenly;
}

.footer-links ul {
  list-style: none;
  padding-top: 2rem;
}

.footer-links li {
  margin: 0.5rem 0;
}

.footer-links a {
  color: var(--white-color);
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-social div {
  margin-top: 1.8rem;
  text-align: end;
}
.footer-social .social-title {
  font-size: 2rem;
  padding-left: 6rem;
}

.footer-social .social-icons {
  display: flex;
  gap: 3rem;
  justify-self: end;
  font-size: 3rem;
  padding-right: 1.2rem;

}

.footer-social .social-icon {
  width: 2rem;
  height: 2rem;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  line-height: 2rem;
  color: var(--while-color);
  
}

.footer-social .social-icon:hover{
    cursor: pointer;
    color: var(--cursor-color);
}

.footer-bottom {
  background-color: var(--bottom_footer-color);
  padding: 1rem;
  font-size: 1.4rem;
  position: relative;
  bottom: 0;
  display: flex;
}

.footer-copyright {
  flex: 1.5;
  padding: 0 3rem;
}

.footer-stats {
  display: flex;
  justify-content: end;
  align-items: center;
  flex: 2;
  gap: 1.5rem;
  color: var(--white-color);
  padding: 0 3rem;
}

a:hover{
  text-decoration: none !important;
}
