/* ========================== For class ========================== */
.container {
    max-width: 1200px;
}

/* ========================== Carousel ========================== */
#carousel {
    width: 90vw;
    margin: 0 auto;
}

#carousel .carousel-indicators {
    gap: 1rem;
}

#carousel .carousel-indicators li {
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 100%;
}

#carousel .carousel-inner .carousel-item img {
    height: 60rem;
}

/* ========================== Section 1 ========================== */
#section_1 {
    margin-top: 18rem;
}

#section_1 h2 {
    margin-bottom: 3rem;
}

#section_1 .item {
    text-align: center;
}

#section_1 .item img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

#section_1 .item h4 {
    text-align: start;
    font-size: 1.6rem;
}

#section_1 .item p {
    font-size: 1.5rem;
    text-align: start;
    font-weight: 700;
    color: #333;
}

/* ========================== Section 2 ========================== */
#section_2 {
    margin-top: 12rem;
}

#section_2 h2 {
    margin-bottom: 3rem;
}

#section_2 .item {
    text-align: center;
}

#section_2 .item img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

#section_2 .item h4 {
    text-align: start;
    font-size: 1.6rem;
}

#section_2 .item p {
    font-size: 1.5rem;
    text-align: start;
    font-weight: 700;
    color: #333;
}

/* ========================== Section 3 ========================== */
#section_3 {
    margin-top: 12rem;
}

#section_3 .container {
    background: url('../imgs/HomePage/section3/3.png') no-repeat;
    background-size: cover;
    background-clip: content-box;
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

#section_3 h2 {
    font-size: 3rem;
}

#section_3 p {
    font-size: 1.5rem;
}

#section_3 .button {
    padding: 1rem 3rem;
    color: #fff;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    font-size: 1.5rem;
    text-decoration: none;
}

/* ========================== Section 4 ========================== */
#section_4 {
    margin-top: 12rem;
}

#section_4 h2 {
    margin-bottom: 3rem;
}

#section_4 .item {
    text-align: center;
}

#section_4 .item img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

#section_4 .item h4 {
    text-align: start;
    font-size: 1.6rem;
}

#section_4 .item p {
    font-size: 1.5rem;
    text-align: start;
    font-weight: 700;
    color: #333;
}