/* ========================== For class ========================== */
.container {
    max-width: 1200px;
}

/* ========================== Section Banner ========================== */
#section_banner {
    margin-top: 2rem;
}

#section_banner .container {
    max-width: 100vw;
}

#section_banner img {
    max-width: 100%;
    height: auto;
}

/* ========================== Section Featured ========================== */
#section_featured {
    margin-top: 10rem;
}

#section_featured .container-fluid {
    margin: 0;
    padding: 0;
}

#section_featured h2,
h4 {
    margin-left: 2rem;
    margin-bottom: 1rem;
}

#section_featured h2 {
    font-weight: 700;
    font-size: 2.5rem;
}

#section_featured img {
    max-width: 100%;
    height: auto;
}

/* ========================== All products ========================== */
#section_all_products {
    margin-top: 15rem;
}

/* Top */
#section_all_products .top {
    display: flex;
    justify-content: space-between;
    position: relative;
}

#section_all_products .top .filter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#section_all_products .top .filter .custom_icon {
    font-size: 1.6rem;
}

#section_all_products .top h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#section_all_products .top .sort {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
}

#section_all_products .top .sort label {
    width: 12rem;
}

#section_all_products .top .sort select {
    font-size: 1.2rem;
    width: 20rem;
}

/* Bottom */
#section_all_products .bottom {
    display: flex;
}

/* Filter */
#section_all_products .filter {
    width: 20%;
    padding-right: 1rem;
}

#filter-category,
#filter-size,
#filter-color,
#filter-price,
#filter-brand,
#filter-material,
#filter-style,
#filter-promotion,
#filter-rating {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    cursor: pointer;
}

#filter-category h4,
#filter-size h4,
#filter-color h4,
#filter-price h4,
#filter-brand h4,
#filter-material h4,
#filter-style h4,
#filter-promotion h4,
#filter-rating h4 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin: 0;
}

#section_all_products .filter-content.active {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#section_all_products .filter-content {
    display: none;
    padding-top: 5px;
}

#section_all_products .filter-content label {
    display: flex;
    gap: 0.5rem;
}

#section_all_products .filter .arrow {
    transition: transform 0.3s;
}

#section_all_products .filter .arrow.active {
    transform: rotate(180deg);
}

/* List Products */
#section_all_products .list_products {
    width: 80%;
    border-left: solid 1px #000;
    position: relative;
}

/* Product cards */
#section_all_products .list_products .product-card {
    padding: 15px;
    border-radius: 8px;
    transition: box-shadow 0.3s;
}

#section_all_products .list_products .product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#section_all_products .list_products .product-image {
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    width: 100%;
    height: 30rem;
}

#section_all_products .list_products .product-title {
    font-size: 2rem;
    margin: 10px 0;
}

#section_all_products .list_products .product-price {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

#section_all_products .list_products .product-button {
    background-color: var(--second-color);
    color: #fff;
    font-size: 1.5rem;
}

/* Pagination */
#pagination {
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
}

#pagination .product-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 1.5rem;
}

#pagination .pagination-btn,
#pagination .page-number {
    padding: 1rem;
    cursor: pointer;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 5rem;
    text-align: center;
}

#pagination .pagination-btn {
    outline: none;
    border: none;
    background: none;
}

#pagination .page-number.active {
    background-color: var(--second-color);
    color: white;
    font-weight: bold;
}

#pagination .dots {
    border: none;
    background-color: transparent;
    cursor: default;
    pointer-events: none;
}

#pagination_numbers {
    display: flex;
    align-items: center;
}