body {
    background-color: var(--primary-color);
}

.container {
    max-width: 1200px;
}

/* ===================================================== Products ===================================================== */
#products {
    height: 600px;
}

#products .product-gallery {
    display: flex;
    flex-direction: row;
    height: 100%;
    border-right: 2px solid #ddd;
}

/* Thumbnail list in left side */
#products .thumbnail-list {
    flex: 1;
    max-width: 120px;
    overflow-y: auto;
    margin-right: 15px;
    display: flex;
    flex-direction: column;
}

#products .thumbnail-list img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: .1s ease-in-out;
}

#products .thumbnail-list img:not(:last-child) {
    margin-bottom: 10px;
}

#products .thumbnail-list img.active {
    border: 1px solid #000;
}

/* Carousel in right side */
#mainCarousel {
    height: 100%;
    flex: 3;
    position: relative;
}

#mainCarousel .carousel-inner,
#mainCarousel .carousel-item {
    height: 100%;
}

#mainCarousel img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#mainCarousel .carousel-control-prev,
#mainCarousel .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

/* Product Info */
#products .product-info h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#products .price {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

/* Size and color options */
#products .color-options h5,
#products .size-options h5 {
    font-size: 2rem;
}

#products .color-options span:nth-child(1) {
    background-color: rgb(196, 186, 182);
}

#products .color-options span:nth-child(2) {
    background-color: rgb(86, 85, 90);
}

#products .color-options span:nth-child(3) {
    background-color: rgb(0, 0, 0);
}

#products .color-options span,
#products .size-options span {
    display: inline-block;
    width: 45px;
    height: 45px;
    background-color: #ccc;
    margin: 0 12px 0 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

#products .color-options span:hover {
    transition: .3s ease-in-out;
    transform: scale(0.95);
}

#products .size-options span:hover {
    border: 1px solid #000;
}

#products .choose_size,
#products .choose_color {
    display: flex;
    font-size: 1.6rem;
}

/* Instructions */
#products .instructions a {
    color: #000;
    text-decoration: underline;
    text-underline-offset: 5px;
    transition: .3s ease;
    font-size: 1.6rem;
}

#products .instructions a i {
    transform: scaleX(-1);
}

#products .instructions a:hover {
    text-decoration: none;
    padding-left: 2px;
}

/* Quantity */
#products .quantity-selector {
    display: flex;
    align-items: center;
    gap: 10px;
}

#products .quantity-selector h5 {
    font-size: 2rem;
    margin: 0;
}

#products .quantity-selector button {
    width: 20px;
    height: 40px;
    color: #000;
    font-size: 2.25rem;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    background: transparent;
    outline: none;
    transition: all 0.2s ease-in-out;
}

#products .quantity-selector button:hover {
    color: #000;
    background: none;
    transform: scale(1.3);
}

#products .quantity-selector button:active {
    background: none !important;
    box-shadow: none !important;
    border: none !important;
    color: #000 !important;
}

#products .quantity-selector button:focus {
    background: none;
    box-shadow: none;
    outline: none;
    border: none;
}

#products .quantity-selector input {
    text-align: center;
    width: 30px;
    height: 40px;
    font-size: 2.25rem;
    border: none;
    margin: 0;
    background-color: transparent;
}

#products .quantity-selector input:focus {
    outline: none;
}

#products .quantity-selector input[readonly] {
    background-color: transparent;
}

/* Buttons */
#products .add_to_cart_btn,
#products .buy_btn {
    outline: none;
    border: none;
    border: 2px solid rgb(164, 109, 14);
    font-size: 2.5rem;
    padding: 5px 25px;
    transition: .5s ease;
}

#products .buy_btn {
    margin-left: 10px;
    background-color: rgb(164, 109, 14);
    color: #fff;
}

#products .add_to_cart_btn:hover {
    background-color: rgb(164, 109, 14);
    color: #fff;
}

#products .buy_btn:hover {
    background: none;
    color: #000;
}

/* ===================================================== Description ===================================================== */
