.sidebar {
  background-color: #f8f9fa;
  padding: 20px;
  height: 100vh;
}
.sidebar .nav-link {
  color: #333;
  font-weight: bold;
  padding: 1rem 1rem;
  border-radius: 5px;
  font-size: 1.2rem;
}

.sidebar ul{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.sidebar ul li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25rem;
  background-color: var(--white-color);
  margin-top: 1rem;
  padding: 0.5rem 2rem;
}

.user_main {
  display: flex;
  justify-content: center;
}

.user_main-content {
  padding: 30px;
}

.user_main-content label {
  font-size: 1.5rem;
}

.profile-info {
  padding: 20px;
  border-radius: 5px;
  background-color: var(--white-color);
}

.profile-info h5 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.profile-info input {
  font-size: 1.5rem;
}
