@media (max-width: 1024px) {
    html {
        font-size: 56.25%;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 43.75%;
    }
}